absl-py==2.0.0
aiofiles==23.2.1
altair==5.1.1
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi==21.1.0
astor==0.8.1
astunparse==1.6.3
attrs==21.2.0
Automat==0.8.0
aws-assume-role-lib==1.7.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
bleach==4.1.0
blinker==1.4
boto3==1.26.25
botocore==1.29.25
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
cloud-init==23.4.4
cloudinary==1.32.0
cmake==3.27.5
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.0
defer==1.0.6
defusedxml==0.7.1
distro==1.4.0
distro-info==0.23+ubuntu1.1
dlib==19.24.2
entrypoints==0.3
exceptiongroup==1.1.3
face-compare==1.1.4
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.103.1
ffmpy==0.3.1
filelock==3.12.4
flatbuffers==1.12
fonttools==4.42.1
fsspec==2023.9.1
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==3.44.4
gradio-client==0.5.1
grpcio==1.59.2
gunicorn==20.0.4
h11==0.14.0
h5py==3.5.0
httpcore==0.18.0
httplib2==0.14.0
httpx==0.25.0
huggingface-hub==0.17.2
hyperlink==19.0.0
idna==2.10
imageio==2.31.3
importlib-metadata==6.8.0
importlib-resources==6.1.0
imutils==0.5.4
incremental==16.10.1
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
jmespath==1.0.1
joblib==1.1.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-loader==0.3
libclang==16.0.6
lit==16.0.6
macaroonbakery==1.3.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
more-itertools==4.2.0
mpmath==1.3.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==3.1
nlpnet==1.2.4
nltk==3.5
notebook==6.4.5
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
orjson==3.9.7
packaging==21.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
plotly==5.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.21
protobuf==3.19.6
ptyprocess==0.7.0
pyarrow==13.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydantic==2.3.0
pydantic-core==2.6.3
pydeck==0.8.1b0
pydub==0.25.1
pygame==2.5.2
Pygments==2.16.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.18.0
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==5.3.1
pyzbar==0.1.9
pyzmq==22.3.0
regex==2021.10.23
requests==2.25.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rich==13.5.3
rsa==4.9
s3-account-search==0.2.1
s3transfer==0.6.2
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
SecretStorage==2.3.1
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.1.0
sos==4.5.6
ssh-import-id==5.10
starlette==0.27.0
streamlit==1.27.0
sympy==1.12
systemd-python==234
tenacity==8.2.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.3
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.2.0
tifffile==2023.7.10
tokenizers==0.13.3
toml==0.10.2
toolz==0.11.1
torch==2.0.1
torchvision==0.15.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.33.2
triton==2.0.0
Twisted==18.9.0
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==4.0.1
ubuntu-advantage-tools==27.6
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.7
uvicorn==0.23.2
validators==0.18.2
wadllib==1.3.3
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websockets==11.0.3
werkzeug==3.0.1
widgetsnbextension==3.5.1
wrapt==1.15.0
zipp==3.17.0
zope.interface==4.7.1
